.overhead {
    font-size: 14px;
    background-color: #f8f8f8;
    height: 50px;
    color: #999999;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: var(--brand);
}

.ham{
    display: none;
}



@media screen and (width < 768px){
    .overhead{
        display: none;
    }
    .deskNav{
        display: none;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar .inpDiv{
        width: 100%;
    }
    .ham{
    display: block;
}
}