:root{
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    font-size: 24px;
}

body{
    width: 50%;
    height: 100%;
    margin: auto;
}
table tr td{
    width: 150px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
}