* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bs-brand: #755acf;
}

.text-brand{
    color: var(--bs-brand);
}

.bg-brand{
    background-color: var(--bs-brand);
}

body {
    height: 100vh;
}