.outbox{
    background: linear-gradient(to left , #c04a87 , #ad77d9);
    min-height: 100vh;
}
.box {
    background-color: white;
    width: 25%;
    height: fit-content;
}

@media screen and (width < 1024px) {
    .box {
        width: 50%;
    }
}

@media screen and (width < 768px) {
    .box {
        width: 100%;
    }
}